abind	==	1.4-5
admisc	==	0.34
afex	==	1.3-0
airports	==	0.1.0
AlgDesign	==	1.2.1
alphavantager	==	0.1.3
AMR	==	2.1.1
anytime	==	0.3.9
arrow	==	14.0.0.2
ash	==	1.0-15
askpass	==	1.2.0
assertthat	==	0.2.1
autocogs	==	0.1.4
backports	==	1.4.1
base64enc	==	0.1-3
BayesFactor	==	0.9.12-4.6
bayestestR	==	0.13.2
bdsmatrix	==	1.3-7
BH	==	1.81.0-1
bibtex	==	0.5.1
bigD	==	0.2.0
bit	==	4.0.5
bit64	==	4.0.5
bitops	==	1.0-7
bizdays	==	1.0.16
blob	==	1.2.4
brew	==	1.0-10
brio	==	1.1.4
broom	==	1.0.5
bs4Dash	==	2.3.3
bslib	==	0.6.1
BWStest	==	0.2.3
ca	==	0.71.1
cachem	==	1.0.8
callr	==	3.7.6
car	==	3.1-2
carData	==	3.0-5
caret	==	6.0-94
caTools	==	1.18.2
cellranger	==	1.1.0
checkmate	==	2.3.1
cherryblossom	==	0.1.0
chorddiag	==	0.1.3
chron	==	2.3-61
circlize	==	0.4.15
classInt	==	0.4-10
cli	==	3.6.1
clipr	==	0.8.0
clock	==	0.7.0
cluster	==	2.1.6
clustMixType	==	0.3-14
coda	==	0.19-4
collapse	==	2.0.12
colormap	==	0.1.4
colorspace	==	2.1-0
combinat	==	0.0-8
commonmark	==	1.9.0
comtradr	==	1.0.1
concaveman	==	1.1.0
config	==	0.3.2
conflicted	==	1.2.0
contfrac	==	1.1-12
correlation	==	0.8.4
correspondenceTables	==	0.7.4
corrplot	==	0.92
corrr	==	0.4.4
countrycode	==	1.5.0
cowplot	==	1.1.2
cpp11	==	0.4.7
crayon	==	1.5.2
credentials	==	2.0.1
crosstalk	==	1.2.1
crul	==	1.4.0
curl	==	5.2.0
data.table	==	1.14.10
data.tree	==	1.1.0
DataCombine	==	0.2.21
DataEditR	==	0.1.5
DataExplorer	==	0.8.2
datamods	==	1.4.2
datapasta	==	3.1.0
datawizard	==	0.10.0
DBI	==	1.2.2
dbplyr	==	2.4.0
decido	==	0.3.0
desc	==	1.4.3
deSolve	==	1.4
devtools	==	2.4.5
diagram	==	1.6.5
DiagrammeR	==	1.0.10
dials	==	1.2.0
DiceDesign	==	1.1
diffobj	==	0.3.5
digest	==	0.6.33
diptest	==	0.77-0
distributional	==	0.3.2
DistributionUtils	==	0.6-1
doParallel	==	1.0.17
downlit	==	0.4.3
downloader	==	0.4
dplyr	==	1.1.4
DT	==	0.31
dtplyr	==	1.3.1
dygraphs	==	1.1.1.6
e1071	==	1.7-14
effectsize	==	0.8.8
ellipsis	==	0.3.2
elliptic	==	1.4-0
emmeans	==	1.8.9
esquisse	==	1.1.2
estimability	==	1.4.1
eurostat	==	4.0.0
evaluate	==	0.23
exactRankTests	==	0.8-35
explore	==	1.1.0
extraDistr	==	1.10.0
extrafont	==	0.19
extrafontdb	==	1
fansi	==	1.0.5
farver	==	2.1.1
fastmap	==	1.1.1
flexclust	==	1.4-1
flexdashboard	==	0.6.2
flextable	==	0.9.4
FNN	==	1.1.3.2
fontawesome	==	0.5.2
fontBitstreamVera	==	0.1.1
fontLiberation	==	0.1.0
fontquiver	==	0.2.1
forcats	==	1.0.0
foreach	==	1.5.2
forecast	==	8.21.1
foreign	==	0.8-86
Formula	==	1.2-5
fracdiff	==	1.5-2
fresh	==	0.2.1
fs	==	1.6.3
funkyheatmap	==	0.5.0
furrr	==	0.3.1
future	==	1.33.2
future.apply	==	1.11.0
fuzzyjoin	==	0.1.6
gargle	==	1.5.2
gclus	==	1.3.2
gdata	==	3.0.0
gdtools	==	0.3.5
geeM	==	0.10.1
geepack	==	1.3.10
generics	==	0.1.3
geojsonsf	==	2.0.3
geometries	==	0.2.3
geosphere	==	1.5-18
gert	==	2.0.1
gfonts	==	0.2.0
ggalluvial	==	0.12.5
ggalt	==	0.4.0
ggcorrplot	==	0.1.4.1
ggdensity	==	1.0.0
ggdist	==	3.3.1
ggeffects	==	1.5.2
ggfittext	==	0.10.2
ggforce	==	0.4.1
ggformula	==	0.12.0
ggplot2	==	3.5.1
ggpubr	==	0.6.0
ggradar	==	0.2
ggraph	==	2.2.1
ggrepel	==	0.9.4
ggridges	==	0.5.6
ggsankeyfier	==	0.1.7
ggsci	==	3.0.0
ggside	==	0.2.3
ggsignif	==	0.6.4
ggstatsplot	==	0.12.1
ggstream	==	0.1.0
ggtext	==	0.1.2
ggthemes	==	5.1.0
ggvis	==	0.4.8
gh	==	1.4.0
gitcreds	==	0.1.2
glmnet	==	4.1-8
GlobalOptions	==	0.1.2
globals	==	0.16.2
glue	==	1.6.2
gmp	==	0.7-3
googledrive	==	2.1.1
googlesheets4	==	1.1.1
gower	==	1.0.1
GPArotation	==	2023.11-1
GPfit	==	1.0-8
gplots	==	3.1.3.1
grafify	==	4
graphlayouts	==	1.1.1
gridBase	==	0.4-7
gridBezier	==	1.1-1
gridExtra	==	2.3
gridtext	==	0.1.5
gsubfn	==	0.7
gt	==	0.10.0
gtable	==	0.3.4
gtExtras	==	0.5.0
gtools	==	3.9.5
hardhat	==	1.3.0
haven	==	2.5.4
here	==	1.0.1
hexbin	==	1.28.3
highcharter	==	0.9.4
highr	==	0.1
Hmisc	==	5.1-1
hms	==	1.1.3
hrbrthemes	==	0.8.7
htmlTable	==	2.4.2
htmltools	==	0.5.7
htmlwidgets	==	1.6.4
httpcode	==	0.3.0
httpuv	==	1.6.13
httr	==	1.4.7
httr2	==	1.0.0
hypergeo	==	1.2-13
IC2	==	1.0-1
ids	==	1.0.1
igraph	==	1.6.0
imf.data	==	0.1.5
IMFData	==	0.2.0
import	==	1.3.1
ineq	==	0.2-13
infer	==	1.0.5
ini	==	0.3.1
inline	==	0.3.19
insight	==	0.19.11
ipred	==	0.9-14
IRdisplay	==	1.1
IRkernel	==	1.3.2
ISLR	==	1.4
ISLR2	==	1.3-2
isoband	==	0.2.7
ISOweek	==	0.6-2
iterators	==	1.0.14
janitor	==	2.2.0
jpeg	==	0.1-10
jquerylib	==	0.1.4
jsonify	==	1.2.2
jsonlite	==	1.8.8
juicyjuice	==	0.1.0
kableExtra	==	1.3.4
kernlab	==	0.9-32
KernSmooth	==	2.23-22
kinship2	==	1.9.6.1
km.ci	==	0.5-6
KMsurv	==	0.1-5
knitr	==	1.45
ks	==	1.14.1
kSamples	==	1.2-10
labeling	==	0.4.3
labelled	==	2.12.0
later	==	1.3.2
lattice	==	0.22-5
lava	==	1.7.3
lazyeval	==	0.2.2
leafem	==	0.2.3
leaflet	==	2.2.1
leaflet.providers	==	2.0.0
leafpop	==	0.1.0
lhs	==	1.1.6
lifecycle	==	1.0.4
listenv	==	0.9.0
lme4	==	1.1-35.1
lmerTest	==	3.1-3
lmtest	==	0.9-40
loo	==	2.6.0
lubridate	==	1.9.3
magrittr	==	2.0.3
mapdata	==	2.3.1
mapproj	==	1.2.11
maps	==	3.4.2
mapview	==	2.11.2
markdown	==	1.12
Matrix	==	1.6-4
MatrixModels	==	0.5-3
matrixStats	==	1.2.0
maxLik	==	1.5-2.1
maxstat	==	0.7-25
mc2d	==	0.2.0
mclust	==	6.0.1
memoise	==	2.0.1
MESS	==	0.5.12
Metrics	==	0.1.4
mgcv	==	1.9-0
mime	==	0.12
miniUI	==	0.1.1.1
minqa	==	1.2.6
misc3d	==	0.9-1
miscTools	==	0.6-28
mmtable2	==	0.1.3
mnormt	==	2.1.1
modeldata	==	1.2.0
modelenv	==	0.1.1
ModelMetrics	==	1.2.2.2
modelr	==	0.1.11
modeltime	==	1.2.8
modeltools	==	0.2-23
moments	==	0.14.1
mosaicCore	==	0.9.4.0
multcompView	==	0.1-9
multicool	==	1.0.0
munsell	==	0.5.0
mvtnorm	==	1.2-4
networkD3	==	0.4
NeuralNetTools	==	1.5.3
nlme	==	3.1-164
nloptr	==	2.0.3
numDeriv	==	2016.8-1.1
ODataQuery	==	0.5.3
odbc	==	1.4.2
OECD	==	0.2.5
officedown	==	0.3.1
officer	==	0.6.3
openintro	==	2.4.0
openssl	==	2.1.1
openxlsx	==	4.2.5.2
orca	==	1.1-2
packrat	==	0.9.2
padr	==	0.6.2
paletteer	==	1.5.0
palmerpenguins	==	0.1.1
parallelly	==	1.36.0
parameters	==	0.21.7
parsnip	==	1.2.1
patchwork	==	1.1.3
pbapply	==	1.7-2
pbdZMQ	==	0.3-10
pbkrtest	==	0.5.2
PDE	==	1.4.7
pdftools	==	3.4.0
pdp	==	0.8.1
performance	==	0.11.0
PerformanceAnalytics	==	2.0.4
permute	==	0.9-7
phosphoricons	==	0.2.0
pillar	==	1.9.0
pkgbuild	==	1.4.4
pkgconfig	==	2.0.3
pkgdown	==	2.0.7
pkgload	==	1.3.4
plm	==	2.6-4
plogr	==	0.2.0
plot3D	==	1.4
plotly	==	4.10.4
plyr	==	1.8.9
PMCMRplus	==	1.9.10
png	==	0.1-8
polyclip	==	1.10-6
polycor	==	0.8-1
polynom	==	1.4-1
poorman	==	0.2.7
pracma	==	2.4.4
praise	==	1.0.0
prettyunits	==	1.2.0
prismatic	==	1.1.1
pROC	==	1.18.5
processx	==	3.8.4
prodlim	==	2023.08.28
profvis	==	0.3.8
progress	==	1.2.3
progressr	==	0.14.0
proj4	==	1.0-13
promises	==	1.2.1
prophet	==	1
proto	==	1.0.0
proxy	==	0.4-27
ps	==	1.7.6
psych	==	2.3.9
purrr	==	1.0.2
pwr	==	1.3-0
pxweb	==	0.17.0
qap	==	0.1-2
qpdf	==	1.3.2
quadprog	==	1.5-8
Quandl	==	2.11.0
quantmod	==	0.4.25
quantreg	==	5.97
QuickJSR	==	1.0.8
R.methodsS3	==	1.8.2
R.oo	==	1.25.0
R.utils	==	2.12.3
R6	==	2.5.1
radiant	==	1.6.1
radiant.basics	==	1.6.0
radiant.data	==	1.6.3
radiant.design	==	1.6.1
radiant.model	==	1.6.3
radiant.multivariate	==	1.6.1
ragg	==	1.2.7
randomizr	==	1.0.0
ranger	==	0.16.0
rapidjsonr	==	1.2.0
rappdirs	==	0.3.3
raster	==	3.6-26
rayimage	==	0.10.0
rayrender	==	0.31.2
rayshader	==	0.35.7
rayvertex	==	0.10.4
rbibutils	==	2.2.16
rccmisc	==	0.3.7
rcmdcheck	==	1.4.0
RColorBrewer	==	1.1-3
Rcpp	==	1.0.11
RcppArmadillo	==	0.12.6.6.1
RcppEigen	==	0.3.3.9.4
RcppGSL	==	0.3.13
RcppParallel	==	5.1.7
RcppRoll	==	0.3.0
RcppThread	==	2.1.6
RcppTOML	==	0.2.2
RcppZiggurat	==	0.1.6
Rdpack	==	2.6
reactable	==	0.4.4
reactR	==	0.5.0
readr	==	2.1.4
readsdmx	==	0.3.1
readxl	==	1.4.3
recipes	==	1.0.9
RefManageR	==	1.4.0
refugees	==	2023.6.0
regions	==	0.1.8
registry	==	0.5-1
rematch	==	2.0.0
rematch2	==	2.1.2
remotes	==	2.4.2.1
renv	==	1.0.3
repr	==	1.1.6
reprex	==	2.0.2
reshape	==	0.8.9
reshape2	==	1.4.4
reticulate	==	1.34.0
Rfast	==	2.1.0
rgho	==	3.0.2
rgl	==	1.2.8
rhandsontable	==	0.3.8
riingo	==	0.3.1
rio	==	1.0.1
rJava	==	1.0-10
rjson	==	0.2.21
rlang	==	1.1.2
rlist	==	0.4.6.2
rmarkdown	==	2.25
Rmpfr	==	0.9-4
rnaturalearth	==	1.0.1
RODBC	==	1.3-23
roxygen2	==	7.3.0
rpart	==	4.1.23
rpart.plot	==	3.1.1
rpivotTable	==	0.3.0
rprojroot	==	2.0.4
rsample	==	1.2.1
rsconnect	==	1.2.0
rsdmx	==	0.6-3
RSQLite	==	2.3.6
rstan	==	2.32.3
rstantools	==	2.3.1.1
rstatix	==	0.7.2
rstudioapi	==	0.15.0
Rttf2pt1	==	1.3.12
rversions	==	2.1.2
rvest	==	1.0.3
rvg	==	0.3.3
s2	==	1.1.5
sandwich	==	3.1-0
sass	==	0.4.8
satellite	==	1.0.4
scales	==	1.3.0
selectr	==	0.4-2
seriation	==	1.5.4
servr	==	0.27
sessioninfo	==	1.2.2
sf	==	1.0-14
sfheaders	==	0.4.3
sfo	==	0.1.2
shades	==	1.4.0
shadowtext	==	0.1.3
shape	==	1.4.6
shiny	==	1.8.1.1
shinyAce	==	0.4.2
shinyBS	==	0.61.1
shinybusy	==	0.3.2
shinycssloaders	==	1.0.0
shinydashboard	==	0.7.2
shinyFiles	==	0.9.3
shinyjs	==	2.1.0
shinythemes	==	1.2.0
shinyWidgets	==	0.8.6
showtext	==	0.9-7
showtextdb	==	3
sjlabelled	==	1.2.0
sjmisc	==	2.8.10
sjPlot	==	2.8.16
sjstats	==	0.19.0
slider	==	0.3.1
sm	==	2.2-5.7.1
smss	==	1.0-2
snakecase	==	0.11.1
sourcetools	==	0.1.7-1
sp	==	2.1-2
spacefillr	==	0.3.2
SparseM	==	1.81
spatial	==	7.3-17
sqldf	==	0.4-11
SQUAREM	==	2021.1
StanHeaders	==	2.26.28
staplr	==	3.2.2
stargazer	==	5.2.3
statsExpressions	==	1.5.2
stringdist	==	0.9.12
stringi	==	1.8.3
stringr	==	1.5.1
SuppDists	==	1.1-9.7
survival	==	3.5-7
survminer	==	0.4.9
survMisc	==	0.5.6
svglite	==	2.1.3
sys	==	3.4.2
sysfonts	==	0.8.9
systemfonts	==	1.0.5
tcltk2	==	1.2-11
tensorflow	==	2.14.0.9000
terra	==	1.7-65
terrainmeshr	==	0.1.0
testthat	==	3.2.1
textshaping	==	0.3.7
tfautograph	==	0.3.2
tfruns	==	1.5.1
tibble	==	3.2.1
tictoc	==	1.2
tidyclust	==	0.2.0
tidygeocoder	==	1.0.5
tidygraph	==	1.3.1
tidymodels	==	1.1.1
tidyquant	==	1.0.7
tidyr	==	1.3.0
tidyselect	==	1.2.0
tidyverse	==	2.0.0
timechange	==	0.2.0
timeDate	==	4032.109
timeSeries	==	4031.107
timetk	==	2.9.0
tinytex	==	0.49
treemap	==	2.4-4
treemapify	==	2.5.6
trelliscopejs	==	0.2.6
triebeard	==	0.4.1
tseries	==	0.10-55
tsfeatures	==	1.1.1
TSP	==	1.2-4
TTR	==	0.24.4
tune	==	1.1.2
tweenr	==	2.0.2
tzdb	==	0.4.0
units	==	0.8-5
urca	==	1.3-3
urlchecker	==	1.0.1
urltools	==	1.7.3
usdata	==	0.2.0
usethis	==	2.2.2
utf8	==	1.2.4
uuid	==	1.1-1
V8	==	4.4.1
vctrs	==	0.6.5
vegan	==	2.6-4
vip	==	0.4.1
viridis	==	0.6.5
viridisLite	==	0.4.2
visNetwork	==	2.1.2
vroom	==	1.6.5
vwline	==	0.2-2
waiter	==	0.2.5
waldo	==	0.5.2
warp	==	0.2.1
wbstats	==	1.0.4
webshot	==	0.5.5
whisker	==	0.4.1
WHO	==	0.2.1
withr	==	3.0.0
wk	==	0.9.1
workflows	==	1.1.3
workflowsets	==	1.0.1
wpp2019	==	1.1-1
writexl	==	1.5.0
WRS2	==	1.1-5
xfun	==	0.41
xgboost	==	1.7.7.1
xlsx	==	0.6.5
xlsxjars	==	0.6.1
XML	==	3.99-0.16
xml2	==	1.3.6
xopen	==	1.0.0
xtable	==	1.8-4
xts	==	0.13.1
yaml	==	2.3.8
yardstick	==	1.2.0
zeallot	==	0.1.0
zip	==	2.3.0
zoo	==	1.8-12
base	==	4.3.1
boot	==	1.3-28.1
class	==	7.3-22
cluster	==	2.1.4
codetools	==	0.2-19
compiler	==	4.3.1
datasets	==	4.3.1
foreign	==	0.8-84
graphics	==	4.3.1
grDevices	==	4.3.1
grid	==	4.3.1
KernSmooth	==	2.23-21
lattice	==	0.21-8
MASS	==	7.3-60
Matrix	==	1.5-4.1
methods	==	4.3.1
mgcv	==	1.8-42
nlme	==	3.1-162
nnet	==	7.3-19
parallel	==	4.3.1
rpart	==	4.1.19
spatial	==	7.3-16
splines	==	4.3.1
stats	==	4.3.1
stats4	==	4.3.1
survival	==	3.5-5
tcltk	==	4.3.1
tools	==	4.3.1
translations	==	4.3.1
utils	==	4.3.1
